

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgba(142, 145, 175, 0.8);
}

header{
    width: 100%;
    height: 120px;
    background: #4B7E94;
    box-shadow: 1px 3px 5px;


}
nav{
    height: 120px;
}
.navbar{
    width: 100%;
    height: 72px;

}
.logo-brand{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 10px;

}
.nav-list{
    position: absolute;
    left: 25%;
    top: 40px;
    width: 600px;
    height: 41px;
}
ul>li{
    display: inline;
    list-style-type: none;
    color: #000;
    margin-right: 30px;
    font-style: normal;
    font-size: 14px;
    line-height: 292.19%;  
}

li>a{
    text-decoration: none;
    color: #000; 
    font-style: normal;
    font-size: 14px;
    line-height: 292.19%;
}

.ico-buttondiv{
    
    width: 100px;
    height: 50px;
    position: absolute;
    right: 485px;
    top: 33px;

}
.icons-div{
    margin-left: 60px;
    margin-top: 10px;
    
}
.child1,.child2,.child3,.child4{
    margin-bottom: 40px;
    mix-blend-mode: multiply;
}

.button1{
width: 119px;
height: 41px;
left: 1032px;
top: 45px;
border: none;
color: #FDFCFC;
background: #60C650;
border-radius: 9px;
margin-left: 20px;
padding-left: 4px;
padding-bottom: 4px;
}
/* end of header section */

.container{
    width: 100%px;
    height: auto;
    position: relative;

}

.section1{
    width: 100%;
    height: 600px;
    position: relative;
    background: #4B7E94;

}
.icons-div{
    width: 232px;
    position: absolute;
    left: 5%;
    top: 200px;

}

.nazim-img{
    position: absolute;
    right: 220px;
    top: 103px;
}
.profile-section{
    width: 700px;
    height: 300px;
    position: absolute;
    left: 240px;
    top: 150px;
}
h1{
width: 700px;
height: 63px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 40px;

color: #FFFFFF;
}
h2{
width: 500px;
height: 60px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;
color: #E2A914;
}
.para1{
width: 535px;
height: 100px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
color: #161616;
}

.butEmaildiv{
    width: 800px;
    height: 200px;
    display: inline-flex;
    position: absolute;
    left: 220px;
    top: 530px;
}
.but2div{
    margin-right: 70px;
}
span{
font-family: salsa;
font-style: normal;
font-weight: normal;
font-size: 44px;
color: #000000;
}
.but3div,a{
    text-decoration: none;
    color: #1a1818ab;
}
.button2{
    width: 119px;
    height: 41px;
    left: 1032px;
    top: 27px;
    border: none;
    color: #FDFCFC;
    background: #60C650;
    border-radius: 9px;
    margin-left: 20px;
    padding-left: 4px;
    padding-bottom: 4px;
}
.button3{
    width: 119px;
    height: 41px;
    left: 1032px;
    top: 27px;
    border: none;
    color: #FDFCFC;
    background: #60C650;
    border-radius: 9px;
    margin-left: 20px;
    padding-left: 4px;
    padding-bottom: 4px;
}

/* end of section1 */
/* .section2{
    width: 100%;
    height: 480px;
    position: relative;
}
.fal-img{
    width: 300px;
    height: 405px;
    margin-left: 200px;
    margin-top: 80px;
}
.section2-text{
    position: absolute;
    right: 200px;
    top: 70px;
    width: 455px;
    height: 200px;
    margin-right: 20px;
}
.section2-lastpart{
    width: 600px;
    height: 200px;
    position: absolute;
    left: 600px;
    position: absolute;
    top: 300px;
}
.icon-section2{
    display: inline-flex;
    
}
.icon-section2>.behance,.dribble,.insta{
    margin-right: 80px;
    display: inline-flex;
} */
/* .sec2-p1{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
margin-top: 10px;
color: #1154FF;
}
.sec2-p2{
font-family: Roboto;
font-style: normal;
 font-weight: bold;
font-size: 20px;
 margin-top: 10px;
color: #FA3BAE;
}
.sec2-p3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color:  #8A8C19;
}

.h5{
font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
color: #000000;
margin-bottom: 20px;
}
.bold-text{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #000000;
margin-bottom: 50px;
} */
.section3{
    position: relative;
    width: 100%;
    height: 800px;
    background: #2BA9B1;
}
.myskills{
    position: absolute;
    left: 180px;
    top: 80px;
}
.sec3-text{
    position: absolute;
    top: 125px;
    left: 240px;
    width: 660px;
    height: 260px;
    

}
.sec3-text>h5{
font-family: Roboto;
 font-style: normal;
 font-weight: normal;
font-size: 48px;
margin-bottom: 30px;
line-height: 56px;
color: #000000;
}
.sec3-text>p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #000000;
}
.head-icon{
position: absolute;
top: 330px;
left: 240px;
width: 250px;
height: 400px;
margin-top: 40px;
}
.photoshop,.illustrator{
margin-bottom: 100px;
display: inline-flex;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.sketch{
    display: flex;
}
.sec3-p1,.sec3-p2,.sec3-p3{
    margin-top: 10px;
    margin-left: 28px;
}

.business-character{
position: relative;
width: 600px;
height: 400px;
position: absolute;
top: 320px;
right: 300px;
display: -webkit-box;
}


/* end of section3 */


.section4{
    position: relative;
    width: 100%;
    height: 1350px;

}
.heading{
    width: 1122px;
    height: 160px;  
    background: #1A1717;
    border-radius: 13px;
    position: relative;
    position: absolute;
    top: 80px;
   left: 230px;
   }
.head-content{
    position: absolute;
    top: 30px;
    left: 90px;
    width: 1000PX;
    display: inline-flex;
}
.head-content1,.head-content2,.head-content3{
width: 320px;
font-family: Ranchers;
font-style: normal;
font-weight: normal;
font-size: 20px;
text-align: center;
}
.span1,.span2,.span3{
color: #FFFBFB;
font-family: Ranchers;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 60px;
}
.head-p1,.head-p2,.head-p3{
    color: #FFFBFB;
}
/* .all-project{
position: absolute;
top: 350px;
left: 670px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 42px;
color: #1A0606;
} */
/* h3{
    margin-bottom: 70px;
    margin-left: 80px;
} */
.project{
position: absolute;
top: 400px;
left: 300px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
color: #000000;
}
.my-work{
    position: absolute;
    top: 690px;
    left: 350px;
}
.pro-header{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 42px;
color: #000000;
margin-bottom: 30px;
margin-left: 410px;
}

.list{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
}
.image-div{
position: absolute;
left: 160px;
}
.list li{
margin-right: 80px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;

color: #000000;
}
/* .section5{
    width: 100%;
    height: 600;
    position: absolute;
    top: 1800px;
    left: 300px;
}
.sec5-content{
    display: flex;
    margin-top: 65px;
}
.honours{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    
    color: #000000
}
.in-pressdiv{
    margin-right: 300px;
    font-family: Roboto;
    font-size: 19px;
    line-height: 24px
}
.press{
    font-family: Roboto;  
    color: #5d66c0;
    font-weight: bold;
}
.award-div{
    margin-right: 300px;
    font-family: Roboto;
    font-size: 19px;
    line-height: 24px

}
.awards{
    font-family: Roboto;  
    color: #000000;
    font-weight: bold 
} */
.section6{
    position: relative;
    width: 100%;
    height: 700px;
    position: absolute;
    top: 2800px;
}
.head-brand{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 42px;
color: #000000;
position: absolute;
top: 30px;
left: 500px;
}
.brand-images{
    width: 100%;
    height: 400px;
    margin-bottom: 120px;
    background: #4778F5;
    position: relative;

}
.b-images{
display: flex;
position: absolute;
top: 130px;
left: 320px;
}
.brand-logo{
    margin-right: 150px;
    margin-top: 20px;
}
.clients{
    position: absolute;
    left: 300px;
    top: 600px;
}
.client-content{
    width: 560px;
    height: 500px;
    display: flex;
    position: absolute;
    left: 210px;
}
.client-text{
    position: relative;
}
.client-image{
    margin-right: 15px;
}
.testimo-header{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #2C0909;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
margin-bottom: 50px;
margin-left: 300px;
}
.testimo-p{
    font-family: Roboto;
    font-style: normal;
    font-size: 25px;
    line-height: 35px;
    color: #2C0909;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) 
}
.wilson{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 33px;
    color: #000000; 
    margin-top: 80px;
    position: absolute;
    top: 225px;
}
.wilson p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    color: #000000; 
}
footer{
position: relative;
width: 900px;
height: 400px;
position: absolute;
top: 3900px;
left: 350px;
background: #5F3814;
border-radius: 22px;
}
h5{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF; 
    margin-top: 50px;
    margin-left: 360px;
}
.footer-content{
    display: flex;
    position: absolute;
    left: 190px;
    top: 190px;
}
.phone-me,.mail-me{
margin-right: 100px;
}
.footer-content p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
color: #FFFFFF;
}
.footer-content a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}
.phone,.mail,.follow{
    margin-bottom: 15px;
}