*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    position: relative;
    width: 100%;
    height: 57px;
    display: inline-flex;
}
body{
    background-color: #111827;
}
header{
    position: relative;
    width: 100%;
    height: 57px;
    background-color: #05080D;
}
.nav-list{ 
width: 672px;
height: 48px;
position: absolute;
right: 0px;

}
ul{
    margin-top: 15px;
}
ul>li{
display: inline;
text-decoration: none;
list-style-type: none;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: 500px;
font-size: 16px;
line-height: 24px;
margin: 42px;

}
li a{
    text-decoration: none;
    color: #ECE6E6;
}
a:hover{
    color: #D946EF;
}
.logo{
    position: absolute;
    left: 230px;
}
.container{
    width: 100%;
    height: 4500px;
    position: relative;
}
.section1{
    width: 100%;
    height: 900px; 
    position: relative;
    
}
.bg1{
    position: absolute;
    width: 240px;
    height: 240px;
    left: -4.04%;
    right: 90.83%;
    top: 200px;
    border-radius: 50%;
    background: #1D4ED8;
    filter: blur(60px); 
}
.bg2{
    position: absolute;
    height: 140px;
    width: 140px;
    left: 43.05%;
    right: 40.85%;
    top: 230px;
    border-radius: 50%;
    background: #A21CAF;
    filter: blur(85px);   
}
.bg4{
position: absolute;
width: 285.68px;
height: 285.68px;
left: 60%;
top: 122px;

background: rgba(255, 255, 255, 0.6);
filter: blur(75px); 
}
.bg3{
position: absolute;
width: 360.33px;
height: 360px;
left: 75.54%;
right: 0.85%;
top: 295px;
border-radius: 50%;
background: #2563EB;
filter: blur(57px); 
}
.sec1-text{
    position: absolute;
    top: 221px;
    left: 210px;
    width: 500px;
    height: 372px;
}
.intro{
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.02em;
background-image: linear-gradient(93.54deg, #3B82F6 9.03%, #D946EF 43.88%);
background-size: 100%;
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
margin-bottom: 21px;
}
.profile{
    font-family: Fira Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
    color: #ffffff;
    margin-bottom: 21px;
}
.line1{
position: absolute;
width: 66px;
height: 6px;
left: 395px;
top: 215px;
}
.button{
    display: inline-flex;
}
button{
width: 148px;
height: 44.56px;
border-radius: 20px;
margin-right: 30px;
background-size: 100%;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
background: linear-gradient(98.16deg, #3B82F6 18.21%, #D946EF 71.49%);
color: #ffffff;
border: none;

}

.img{
position: absolute;
width: 844px;
height: 830px;
left: 600px;
top: 10px;
}
.media-icon{
position: absolute;
top: 500px;
right: 75px;
}
.insta{
    margin-top: 23px;
    margin-bottom: 23px;
}
.git{
    margin-bottom: 23px;
}
.group5{
position: absolute;
width: 156.55px;
height: 108.87px;
top: 120px;
right: 1050px;
filter: blur(1px);
transform: rotate(-2.84deg);
}
.group86{
position: absolute;
width: 138.33px;
height: 106.46px;
top: 240px;
right: 610px;
filter: blur(1px);
transform: rotate(-2.84deg);
}
.group87{
position: absolute;
width: 61.05px;
height: 52.88px;
top: 350px;
right: 170px;
filter: blur(1px);
transform: rotate(-2.84deg);
}
.section2{
    width: 100%;
    height: 600px;
    position: relative;
    position: absolute;
    top: 200px;
}
.about{
    width: 200px;
    height: 60px;
    position: absolute;
    left: 700px;
    top: 800px;
    margin-bottom: 100px;
    font-family: Fira Sans Condensed;
}
.declaration{
    width: 1200px;
    height: 350px;
    display: flex;
    position: absolute;
    top: 960px;
    left: 240px;
    text-align: center;
}

.fas,.res,.int,.dyn{
margin-bottom: 20px;
margin-top: 22px;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 38px;
color: #ECE6E6;
}
.p1,.p2,.p3,.p4{
 margin-top: 17px;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #ECE6E6;
width: 200px;
height: 30px;
}
.fast,.responsive,.intuitive,.dynamic{
    margin-right: 100px;
}

.bg5{
position: absolute;
width: 34px;
height: 37.24px;
left: 180px;
top: 350px;
filter: blur(1px);
}
.bg6{
position: absolute;
width: 34px;
height: 37.24px;
left: 440px;
top: 430px;
filter: blur(1px);
}
.bg7{
position: absolute;
width: 34px;
height: 37.24px;
left: 630px;
top: 410px;
filter: blur(1px);
}
.bg8{
position: absolute;
width: 34px;
height: 37.24px;
left: 1030px;
top: 450px;
filter: blur(1px);
}
.progress{
    width: 1000px;
    height: 600px;
    display: flex;
    position: absolute;
    top: 1500px;
    left: 200px;
    text-align: center;
}
.sura,.dot{
    margin-right: 150px;
}
.dot{
    margin-top: 200px;
}
.parag1{
margin-top: 20px;
margin-bottom: 15px;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 38px;
color: #ECE6E6;
}
.parag2{
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 30px;
color: #ECE6E6;
}
.bg9{
position: absolute;
width: 34px;
height: 37.24px;
left: 278px;
top: 2200px;
filter: blur(1px);
}
.bg10{
position: absolute;
width: 34px;
height: 37.24px;
left: 670px;
top: 1980px;
filter: blur(1px);
}
.bg11{
position: absolute;
width: 34px;
height: 37.24px;
left: 978px;
top: 2200px;
filter: blur(1px);
}
.bg12{
position: absolute;
width: 34px;
height: 37.24px;
left: 1150px;
top: 2050px;
filter: blur(1px);
}
.section3{
    width: 100%;
    height: 900px;
    position: relative;
    position: absolute;
    top: 2500px;
}
.proj-head{
  width: 300px;
  height: 30px;
  position: absolute; 
  left: 680px; 
}
.proj-header{
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 60px;
}

.proj-div1{
    width: 1200px;
    height: 300px;
    display: inline-flex;
    position: absolute;
    left: 225px;
    top: 170px;
}
.proj-div2{
    width: 900px;
    height: 300px;
    display: inline-flex;
    position: absolute;
    left: 225px;
    top: 500px;
}
.proj-img1,.proj-img2{
    margin-right: 15%;
}
.bg13{
    position: absolute;
    top: 800px;
    left: 700px;
}
.section4{
    width: 100%;
    height: 700px;
    position: relative;
    position: absolute;
    top: 3400px;
}
.contact-text{
    width: 800px;
    height: 170px;
    position: absolute;
    left: 380px;
    top: 150px;
    text-align: center;
}
.contact-p1{
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 60px;
color: #3B82F6;
}
.contact-p2{
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 38px;
color: #D946EF;
margin-top: 50px;
}
.form-div{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 370px;
    left: 550px;
}
.name-input{
width: 400px;
height: 40px;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 26px;
color: rgba(216, 17, 89, 0.8);
background: #C4C4C4;
margin-bottom: 6px;
border-radius: 10px;
padding-left: 15px;
border: none;
}
.email-input{
width: 400px;
 height: 40px;
 font-family: Fira Sans Condensed;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 26px;
color: rgba(216, 17, 89, 0.8);
background: #C4C4C4;
margin-bottom: 6px;
padding-left: 15px;
border-radius: 10px; 
border: none   
}
.message-input{
width: 400px;
height: 140px;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 17px;
color: rgba(216, 17, 89, 0.8);
background: #C4C4C4;
border-radius: 10px;
padding-bottom: 80px;
padding-left: 15px;
border: none

}
.sent-button{
width: 90px;
height: 40px;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 26px;
background: #C4C4C4;
padding-left: 24px;
border-radius: 14px;
color: rgba(216, 17, 89, 0.8);
float: right;
margin-right: 200px;
border: none;
}
.bg16{
    position: absolute;
    width: 34px;
    height: 37.24px;
    left: 180px;
    top: 300px;
    filter: blur(1px); 
}
.bg15{
    position: absolute;
    width: 34px;
    height: 37.24px;
    left: 650px;
    top: 700px;
    filter: blur(1px); 
}
.bg14{
    position: absolute;
    width: 34px;
    height: 37.24px;
    right: 270px;
    top: 440px;
    filter: blur(1px); 
}
/* end of main body content */
.footer-container{
    width: 100%;
    height: 300px;
    position: relative;
    position: absolute;
    top: 4250px;
}
.logo-footer{
    position: absolute;
    top: 60px;
    left: 750px;
    max-width: 100px;
    max-height: 100px;
}
.social-med{
    width: 300px;
    height: 40px;
    position: absolute;
    right: 640px;
    top: 200px;
    display: inline-flex;
    justify-content: space-around;
}

.footer-parag{
position: absolute;
left: 660px;
bottom: 25px;
font-family: Fira Sans Condensed;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
text-transform: capitalize;
color: #FFFFFF;
}

.bg17{
    position: absolute;
    width: 34px;
    height: 37.24px;
    left: 180px;
    top: 100px;
    filter: blur(1px);  
}
.me,.pro,.gk{
    color: #3B82F6;

}
.abo,.prev,.kuei{
    color: #D946EF;

}
.checkbtn{
    font-size: 30px;
    line-height: normal;
    display: none;
    color: rgba(0, 0, 255, 0.788);
    margin-top: 7px;

}
#check{
    display: none;

}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1200px){
      .nav-list{
        position: absolute;
        right: 0px;
        width: 70%;
    }
    li{
        margin: 1em;
    }
    .logo{
        position: absolute;
        left: 3%;
    
    }
    .intro{
        font-size: 2.5em;
        line-height: 1em;
        letter-spacing: 0.02em;
        background-size: 100%;
        margin-bottom: 1em;
    }
    
    .img{
        position: absolute;
        width: 50%;
        height: auto;
        left: 20.5em;
        top: 3.625em;
        }
        .bg4{
        position: absolute;
        left: 55%;
        width: 20%;
        height: 20%;
        }
        .sura{
            width: 80%;
        }
        .bg2,.bg1{
            display: none;
        }
    .sec1-text{
            position: absolute;
            top: 221px;
            left: 10px;
            width: 31.25em;
            height: 372px;
        }
    .media-icon{
            position: absolute;
            top: 250px;
            right: 75px;
            }
    .group86,.group5{
            display: none;
            }

    .declaration{
        display: none;   
    }
    .about{
        position: absolute;
        left: 45%;
    }
    .progress{
        position: absolute;
        top: 57em;
        left: 10%;
        display: block;
        width: 100%;

    }
    .parag2{
        
        width: 90%;
        text-align: center;
    }
    .bar{
        width: 80%;

    }
    .dot{
        display: none;
    }
    .proj-div1{
        display: block;
        position: absolute;
        left: 20%;
        width: 100%;
        margin-bottom: 10%;
    
    }
    .proj-div2{
        display: block;
        position: absolute;
        left: 20%;
        width: 100%;
        top: 70%;
        
    }
    .section3{
        width: 100%;
        height: 160%;
    }
    .proj-img1,.proj-img2{
        width: 50%;
        margin-bottom: 5%;

    }
    .proj-img3,.proj-img4{
       width: 50%;
       height: 100%;

    }
    .bg11,.bg12{
        position: absolute;
        left: 10%;
        display: none;
    }
    .proj-head{
    left: 40%;
    }
    .bg13,.bg14,.bg15,.bg16{
        display: none;
    }
    .contact-text{
        position: absolute;
        left: 5%;
        width: 100%;
    }
    .form-div{
        position: absolute;
        left: 35%;
        width: 100%;
    }
    .contact-p2{
        width: 100%;
    }
    .sent-button{
        margin-right: 66%;
    }
    .logo-footer{
    position: absolute;
    left: 55%;
    width: 100%;
    height: 100%;
    }
    .social-med{
        position: absolute;
        left: 45%;
    }
    .footer-parag{
        position: absolute;
        left: 50%;
    }
    .form-div{
        width: 100%;
    }
    .section4{
        position: absolute;
        top: 580%;
    }
    .footer-container{
        position: absolute;
        top: 700%;
    }
}

/* Mobile View */
@media (max-width:767px){
    .nav-list{
    height: 100%;
    width: 100%;
    transition: width .2s ease-out;
    transition: height .2s ease-out;
    }
    
    li{
        margin: 1em;
    }
    #checkbtn{
    font-size: 30px;
    line-height: normal;
    color: rgba(0, 0, 255, 0.788); 
    width: 50%;
    height: 50%;
        
    }
    #check{
        /* display: block;
        position: absolute;
        top: 1%;
         
        /* width: 50%;
        height: 50%; */
        display: block;
        left: 1%;
    }
    .nav-list ul{
        display: block;
        font-size: 12px;
        background-color: rgb(50, 50, 180);
      }
      .nav-list ul li{
          margin-bottom: 5%;
          padding: 5px;
          display: block;
      }
      #check:checked ~ .nav-list{
          transform: translateX(0px);
          height: 30%;
          width: 100%;
          
      }
      
    .logo{
        position: absolute;
        left: 50%;
    
    }
    .intro{
        font-size: 2.5em;
        line-height: 1em;
        letter-spacing: 0.02em;
        background-size: 100%;
        margin-bottom: 1em;
    }
    
    .img{
        position: absolute;
        width: 50%;
        height: auto;
        left: 40%;
        top: 1%;
        }
        .bg4{
        position: absolute;
        left: 55%;
        width: 20%;
        height: 20%;
        }
        .sura{
            width: 80%;
        }
        .bg2,.bg1{
            display: none;
        }
    .sec1-text{
            position: absolute;
            top:30%;
            left: 10%;
            width: 31.25em;
            max-height: 372px;
        }
    .media-icon{
            position: absolute;
            top: 1%;
            right: 3%;
            }
    .group86,.group5,.group87{
            display: none;
            }

    .declaration{
        display: none;   
    }
    .about{
        position: absolute;
        left: 45%;
    }
    .progress{
        position: absolute;
        top: 57em;
        left: 10%;
        display: block;
        width: 100%;

    }
    .parag2{
        
        width: 90%;
        text-align: center;
    }
    .bar{
        width: 80%;

    }
    .dot{
        display: none;
    }
    .proj-div1{
        display: block;
        position: absolute;
        left: 20%;
        width: 100%;
        margin-bottom: 10%;
    
    }
    .proj-div2{
        display: block;
        position: absolute;
        left: 20%;
        width: 100%;
        top: 70%;
        
    }
    .section3{
        width: 100%;
        height: 160%;
    }
    .proj-img1,.proj-img2{
        width: 50%;
        margin-bottom: 5%;

    }
    .proj-img3,.proj-img4{
       width: 50%;
       height: 100%;

    }
    .bg11,.bg12{
        position: absolute;
        left: 10%;
        display: none;
    }
    .proj-head{
    left: 40%;
    }
    .bg13,.bg14,.bg15,.bg16{
        display: none;
    }
    .contact-text{
        position: absolute;
        left: 5%;
        width: 100%;
    }
    .form-div{
        position: absolute;
        left: 35%;
        width: 100%;
    }
    .contact-p2{
        width: 100%;
    }
    .sent-button{
        margin-right: 66%;
    }
    .logo-footer{
    position: absolute;
    left: 55%;
    width: 100%;
    height: 100%;
    }
    .social-med{
        position: absolute;
        left: 45%;
    }
    .footer-parag{
        position: absolute;
        left: 50%;
    }
    .form-div{
        width: 100%;
    }
    .section4{
        position: absolute;
        top: 580%;
    }
    .footer-container{
        position: absolute;
        top: 700%;
    }

  
}





